
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1>
    AMSTERDAM </h1>
        <p style="color:red;">
        Amsterdam was founded at the Amstel, that was dammed to control flooding, and the city's name derives from the Amstel dam.[12] Originating as a small fishing village in the late 12th century, Amsterdam became one of the most important ports in the world during the Dutch Golden Age of the 17th century, and became the leading centre for finance and trade.[13] In the 19th and 20th centuries, the city expanded and many new neighbourhoods and suburbs were planned and built. The 17th-century canals of Amsterdam and the 19–20th century Defence Line of Amsterdam are on the UNESCO World Heritage List. Sloten, annexed in 1921 
    </p>
<body>
    <iframe width="280" height="155" src="https://www.youtube.com/embed/Oxv6IRcuNaI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d155959.8924297995!2d4.763878108967292!3d52.354582834316005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c63fb5949a7755%3A0x6600fd4cb7c0af8d!2sAmsterdam%2C%20Netherlands!5e0!3m2!1sen!2sin!4v1614886479286!5m2!1sen!2sin" width="300" height="220" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <img src="{% static 'one.jpg' %}" alt="">
</body>
</html>

